global !p
def header_name():
  import string
  name = re.sub(r'[^A-Za-z0-9]+','_', snip.fn).upper()
  name = ('%s_H_' % name).upper()
  return name
endglobal

snippet once "header include guard"
#ifndef `!p snip.rv = header_name()`
#define `!p snip.rv = header_name()`

$0

#endif
endsnippet

snippet cfd "doxygen function header"
/**
 * @brief $1
 */
endsnippet

snippet @p "doxygen param"
@param $1
endsnippet
